h1 {
    font-size: 28px;
    font-family: 'Shrikhand';
}
h2 {
    font-size: 20px;
    font-family: 'Shrikhand';
}
h3 {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    margin-bottom: 1.7em;
    margin-left: .4em;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 24px;
        width: 40px;
        height: 3.5px;
        background-color: $color-tertiary;
    }
}
h4 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: .5em;
}
h5 {
    font-size: 16px;
    font-weight: 300;
}
h6 {
    font-size: 17px;
    font-weight: 700;
}

a {
    color: #000;
}

input {
    font-size: 13px;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 300;
}