/***********************************************
    MAIN - home page
************************************************/
.main_home {
    @include media_desktop {
        display: grid;
        grid-template-columns: 1fr 350px;
        grid-template-rows: 1fr;
    }
    @include media_desktop {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        max-width: 1000px;
    }
}
.container_top_wrap {
    @include media_desktop {
        border: 5px solid $color-primary--pastel;
        border-radius: 15px;
        grid-column: 2;
        grid-row: 1;
        margin: 1em 1em 0 .5em;
    }
    /************************
        Container SEARCH
    *************************/
    .container_search {
        text-align: center;
        padding-bottom: 1em;
        @include media_desktop {
            background-color: $color-body;
            border-radius: 15px;
            box-shadow: $shadow;
            margin: 1em;
            padding: 0;
        }
        .box_search {
            background-color: $color-search;
            border-radius: 2px;
            box-shadow: inset 0px 9px 10px -11px #727272;
            padding: 1em 1em;
            @include media_desktop {
                border-radius: 15px 15px 0 0;
                box-shadow: inset 0px -7px 10px -11px #727272;
            }
            i {
                margin-right: .6em;
            }
            input {
                border: none;
                background-color: transparent;
                width: 110px;
                cursor: pointer;
                &:focus { outline: 0; }
            }
        }
        .text_search {
            padding: 2em 1em 0em 1em;
            h4 {
                font-size: 25px;
            }
        }
    }
    /************************
        Container TUTO
    *************************/
    .container_tuto {
        background-color: $color-body;
        padding: 2em 1em;
        @include media_desktop {
            border-radius: 15px;
            box-shadow: $shadow;
            margin: 1em;
            padding: 1em;
        }
        .container_tuto_wrap {
            @include media_tablet {
                display: flex;
                justify-content: space-between;
            }
            @include media_desktop {
                display: grid;
            }
            .box_tuto {
                background-color: $color-main;
                border-radius: 15px;
                margin: 1em 0 1em .5em;
                padding: 1.3em;
                position: relative;
                box-shadow: $shadow;
                transition: .3s;
                @include media_desktop {
                    padding: 1em 1em 1em 1.3em;
                }
                &:hover {
                    background-color: $color-primary--pastel;
                    box-shadow: $shadow_hover;
                    cursor: pointer;
                }
                &:hover i {
                    color: $color-primary;
                }
                .ball_number {
                    @include ball;
                    background: $color-primary;
                    position: absolute;
                    left: -$ball-size * 0.5;
                    color: $color-main;
                    text-align: center;
                    vertical-align: middle;
                }
                i {
                    position: absolute;
                    left: 25px;
                    color: $color-icon;
                }
                h5 {
                    font-size: 12px;
                }
                h6 {
                    margin-left: 2.5em;
                    @include media_tablet {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

/************************
    Container RESTAURANT
*************************/
.container_restaurants {
    padding: 2em 1em 1em 1em;
    @include media_desktop {
        grid-column: 1;
        grid-row: 1;
        border: 5px solid $color-primary--pastel;
        border-radius: 15px;
        margin: 1em .5em 0 1em;
        padding: 1em;
    }
    .container_restaurants_wrap {
        @include media_tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 1em;
        }
        @include media_desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 1em;
        }
    }
    .article_restaurants {
        margin: 1em 0 1em 0;
        background-color: $color-body;
        border-radius: 15px;
        box-shadow: $shadow;
        position: relative;
        &:hover {
            box-shadow: $shadow_hover;
        }
        @include media_desktop {
            margin: 0;
        }
        img {
            border-radius: 15px 15px 0 0;
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
        .band_restaurants {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .info_restaurants {
                padding: 1em 1em 1em .7em;
                h4, h5 {
                    color: black;
                }
            }
            .fa-heart {
                top: -15px;
            }
        }
        .card_new {
            background: $color-tertiary;
            border-radius: 2px;
            color: $color-green;
            padding: .5em .9em;
            position: absolute;
            right: 1em;
            top: 1em;
        }
    }
}

/*******************************
    ANIMATION : LOADING SPINNER
*******************************/
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate;
    animation-duration: .001s;
    animation-delay: 4.13s;
    animation-fill-mode: both;
    background: #9256dc5e;
    cursor: wait;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1000;
    .loader {
        position: relative;
        width: 120px;
        height: 120px;
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: rotate(calc(30deg * var(--i)));
            &::before {
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                @include ball_size(30px);
                background: $color-secondary;
                box-shadow: 0 0 10px $color-secondary, 0 0 20px $color-primary;
                animation-name: animate;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-delay: calc(0.09s * var(--i));
            }
        }
    }
}

@keyframes animate {
    000% { transform: scale(1); }
    080% { transform: scale(0); }
    100% { transform: scale(0); }
}