/***********************************************
    CONTAINER - restaurant pages
************************************************/
/************************
    Container IMAGE
*************************/
.container_image {
    position: relative;
    
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .title_band {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        bottom: - $padtop;
        border-radius: 30px 30px 0 0;
        padding: 2em 0 1em 0;
        position: absolute;
        width: 100%;
        background-color: $color-main;
        @include media_desktop {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            max-width: 1000px;
        }
        h1 {
            padding-left: 1em;
        }
        .fa-heart {
            bottom: 0px;
        }
    }
}

/************************
    Container STARTER, MAINS et DESSERT
*************************/
.menu_wrap {
    @include media_desktop {
        display: flex;
        justify-content: center;
    }
    .container_starters {
        margin-top: $padtop;
    }
    .container_mains,
    .container_desserts
    {
        @include media_desktop {
            margin-top: $padtop;
        }
    }
    .container_starters,
    .container_mains,
    .container_desserts
    {
        padding: 1em 1em 0em 1em;
        @include media_desktop {
            border: 5px solid $color-primary--pastel;
            border-radius: 15px;
            margin: 3em 1em 1em 1em;
        }
        article {
            background-color: $color-body;
            border-radius: 15px;
            margin: 1em 0;
            padding: 1em 1.4em .8em .7em;
            box-shadow: $shadow;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            transition: padding-right 450ms ease-in-out;
            @include media_desktop {
                width: 260px;
                padding: .5em 1.4em .5em .7em;
            }
            &:hover {
                box-shadow: $shadow_hover;
                padding-right: 75px;
                &:hover > .curtain {
                    transform: translateX(-70px);
                    @include media_desktop {
                        transform: translateX(-50px);
                    }
                    .ball_curtain {
                        transform: rotate(45deg)scaleX(-1);
                    }
                }
            }
            h4 {
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @include media_desktop {
                    font-size: 14px;
                }
            }
            p {
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @include media_desktop {
                    font-size: 10px;
                }
            }
            .prix {
                font-weight: bold;
                margin-right: .4em;
                @include media_desktop {
                    margin:0 0 .26em 0;
                }
            }
        }
    }
}


/************************
    ANIMATION - SLIDE
*************************/
.article_starters:nth-child(1) { animation: cascade 1000ms ease-in-out; }
.article_starters:nth-child(2) { animation: cascade 1300ms ease-in-out; }
.article_starters:nth-child(3) { animation: cascade 1600ms ease-in-out; }
.article_starters:nth-child(4) { animation: cascade 2000ms ease-in-out; }
.article_starters:nth-child(5) { animation: cascade 2000ms ease-in-out; }

.article_mains:nth-child(1)    { animation: cascade 1000ms ease-in-out; }
.article_mains:nth-child(2)    { animation: cascade 1300ms ease-in-out; }
.article_mains:nth-child(3)    { animation: cascade 1600ms ease-in-out; }
.article_mains:nth-child(4)    { animation: cascade 2000ms ease-in-out; }
.article_mains:nth-child(5)    { animation: cascade 2000ms ease-in-out; }

.article_desserts:nth-child(1) { animation: cascade 1000ms ease-in-out; }
.article_desserts:nth-child(2) { animation: cascade 1300ms ease-in-out; }
.article_desserts:nth-child(3) { animation: cascade 1600ms ease-in-out; }
.article_desserts:nth-child(4) { animation: cascade 2000ms ease-in-out; }
.article_desserts:nth-child(5) { animation: cascade 2000ms ease-in-out; }

@keyframes cascade {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


/************************
    ANIMATION - CURTAIN
*************************/
.text_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
}
.curtain {
    width:  80px;
    height: 80px;
    color: #f6f6f6;
    background-color: #99E2D0;
    position: absolute;
    right: -81px;
    bottom: -3px;
    transition: transform 330ms ease-in-out;
    .ball_curtain {
        @include ball_size(24px);
        margin: 2em 1.6em;
        color: #99E2D0;
        font-weight: bolder;
        background-color: #f6f6f6;
        text-align: center;
        vertical-align: middle;
        transform: rotate(-225deg)scaleX(-1);
        transition: transform 530ms ease-in-out;
        @include media_desktop {
        @include ball_size(20px);
        margin: 2.3em 1em;
        }
    }
}