/***********************************************
    CONTAINER - restaurant pages
************************************************/
/************************
    Container IMAGE
*************************/
.container_image {
    position: relative;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .title_band {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        bottom: - $padtop;
        border-radius: 30px 30px 0 0;
        padding: 2em 0 1em 0;
        position: absolute;
        width: 100%;
        background-color: $color-main;
        h1 {
            padding-left: 1em;
        }
        .fa-heart {
            bottom: 0px;
        }
    }
}

/************************
    Container STARTER, MAINS et DESSERT
*************************/
.menu_wrap {
    @include media_desktop {
        display: flex;
    }
    .container_starters {
        margin-top: $padtop;
    }
    .container_mains,
    .container_desserts
    {
        @include media_desktop {
            margin-top: $padtop;
        }
        
    }
    
    .container_starters,
    .container_mains,
    .container_desserts
    {
        padding: 1em 1em 0em 1em;
        @include media_desktop {
            // background-color: $color-primary--pastel;
            border: 5px solid $color-primary--pastel;
            border-radius: 15px;
            margin: 3em 1em 1em 1em;
        }
        article {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            background: $color-body;
            margin: 1em 0;
            padding: 1em 1.4em .8em .7em;
            border-radius: 15px;
            box-shadow: $shadow;
            &:hover {
                box-shadow: $shadow_hover;
            }
            .prix {
                display: flex;
                align-items: baseline;
                font-weight: bold;
            }
            @include media_desktop {
                h4 {
                    font-size: 14px;
                }
                h5 {
                    font-size: 10px;
                }
            }
        }
        
    }

}
