@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin ball {
    width: $ball-size;
    height: $ball-size;
    border-radius: $ball-size * 0.5;
    line-height: $ball-size;
}


    
@mixin media_desktop {  
	@media screen and (min-width: map-get($breackpoints, desktop)) {
		@content;
	}
}

@mixin media_tablet {  
	@media screen and (min-width: map-get($breackpoints, tablet)) {
		@content;
	}
}

